.experiencia{
    max-width: 1200px;
    padding: 40px 50px;
    margin: 0 auto;
    }
 
.section-titulo{
    font-size: 5rem;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}
.section-paragrafo{
    font-size: 1.2rem;
    margin-bottom: 50px;

}
.experiencia-txt strong{
    color:white;
}
@media(max-width:900px){
    .section-titulo{
        font-size: 4rem;
        margin-bottom: 20px;
              
    }
    .section-paragrafo{
        font-size: 1rem;
        margin-bottom: 40px;
    
    }
}
@media(max-width:600px){
    .section-titulo{
        font-size: 3rem;     
    }
    .section-paragrafo{
        font-size: 0.8rem;  
    }
}
@media(max-width:400px){
    .section-titulo{
        font-size: 2rem;
           
    }
}
.experiencia-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}
.conteiner{
background-color: #CCC ;   
border-radius: 5px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 0 40px;
padding: 15px;
position:relative;
border-left: solid 5px transparent;
}
.conteiner:hover{   
border-color: red;

}
.conteiner p{
color: #292C37;
font-size: 1rem;
line-height: 1;
}
.conteiner .conteiner-conhecimentos{
color: #292C37;
font-size: 1rem;

display: flex;
flex-wrap: wrap;
gap: 10px;
}
.conteiner-conhecimentos li{
background-color: white;
padding: 2px 5px;
border-radius: 4px;
display: flex;
align-items: center;
}
.conteiner .conteiner-titulo{
color: #000;
font-size: 1.2rem;
margin-bottom: 10px;
grid-column: 2;
}
.conteiner-ano{
    color: white;
    position: absolute;
    top: -25px;
}

@media (max-width:800px) {

    .conteiner{
        gap: 0 20px;
        padding: 15px;
        }
        .experiencia-grid{
            grid-template-columns: 1fr
            
        }

}
@media (max-width:400px) {

    .conteiner{
        grid-template-columns: 1fr;
        gap: 10px;

        }
        .conteiner .conteiner-conhecimentos{
            color: #292C37;
            font-size: 1rem;
            
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        
            }
            .conteiner .conteiner-titulo{
                color: #000;
                font-size: 1.2rem;
                grid-column: initial;
                margin-bottom: 0px;
                }
}